.profileContainer {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 35%;
  margin: 5px 20px;
}
.profileColumn-1 {
  color: #7f8c8d;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-color: #bdc3c7;
}

.profileColumn-2 {
  padding: 5px 10px;
}
.studentName {
  color: #333333;
  line-height: 8px;
  padding-left: 70px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.lastName {
  font-size: 14px;
}

.profileColumn-9 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.icons {
  width: 10%;
}
.border {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-color: #eeeff1;
}
.row {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #7f8c8d;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
@media (max-width: 991px) {
  .profileContainer {
    width: 95%;
  }
}
