.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -8px;
  padding: 10px 0px 10px 0px;
}
.menuIcon {
  padding-left: 10px;
  font-size: 30px;
}
