.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 5px 20px;
}
.reset-column-2 {
  padding-top: 0px;
  padding: 10px;
}
.resetError {
  background-color: #f2dede;
  border-radius: 4px;
  border: 1px solid transparent;
  border-color: #eed3d7;
  color: #b94a48;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.reset-column-1 {
  color: #7f8c8d;
  font-size: 16px;
  padding: 10px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  border-color: #eeeff1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.resetInput {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 20px;
  align-items: center;
}
.resetForm {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.resetText {
  justify-self: flex-end;
  margin-right: 20px;
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.resetButton {
  width: 92px;
  text-align: center;
  color: #ffffff;
  background-color: #ff6c60;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
}

.resetButton:hover {
  cursor: pointer;
}
